WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WEBHOOK_VERIFY_TOKEN=change_this_verify_token
META_APP_SECRET=
PORT=3000
TIME_ZONE=Asia/Kolkata
DEFAULT_STUDY_TIME=20:30
WHATSAPP_REMINDER_TEMPLATE=study_reminder_warning
WHATSAPP_TEMPLATE_LANGUAGE=en_US
